<!DOCTYPE html>
<html ng-app="tableizer">
  <head>
    <title>Angular Table</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    {{features}}
  </body>
</html>
